name: Build linux packages

on:
  workflow_call:
    inputs:
      channel:
        type: string
        default: nightly
      version:
        type: string
        default: "0.8.2"
      changelog:
        type: string
        default: ""
      versionsdbremote:
        type: string
        default: master
      shas:
        type: string
        default: "{}"
jobs:
  build-linux:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.platform.ignore-failure || false }}
    strategy:
      fail-fast: false
      matrix:
        repo:
        - mcpelauncher-manifest
        - mcpelauncher-ui-manifest
        - msa-manifest
        platform:
        - name: fedora-40
          ignore-failure: true 
          container:
            image: fedora:39
            options: --privileged --cap-add=SYS_ADMIN
          deps: |
            dnf install -y dnf-plugins-core
            dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
            dnf install -y docker-ce-cli clang cmake make git ca-certificates fedora-packager rpmdevtools which lld
            docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
            CONTAINER="$(docker run --platform linux/arm64 --rm -d fedora:40 tail -f /dev/null)"
            mkdir fedora-sysroot
            docker cp -a "$CONTAINER:/" - | tar -x -C "$PWD/fedora-sysroot/"
            docker stop "$CONTAINER"
            dnf --installroot="$PWD/fedora-sysroot/" --forcearch=aarch64 --releasever=40 -y install gcc-c++ clang cmake make git ca-certificates libstdc++ glibc-devel libpng-devel zlib-devel libX11-devel libXcursor-devel libXi-devel libXinerama-devel libXrandr-devel libcurl-devel systemd-devel libevdev-devel mesa-libEGL-devel alsa-lib pulseaudio-libs mesa-dri-drivers systemd-devel libXtst-devel openssl-devel qt6-qtbase-devel qt6-qtwebengine-devel qt6-qtdeclarative-devel qt6-qtsvg-devel libuv-devel libzip-devel protobuf-devel protobuf-compiler qt6-qtbase-devel qt6-qtwebengine-devel qt6-qtdeclarative-devel qt6-qtsvg-devel fedora-packager rpmdevtools pulseaudio-libs-devel alsa-lib-devel pulseaudio-libs-devel nas-devel pipewire-devel libX11-devel libXext-devel libXrandr-devel libXcursor-devel libXfixes-devel libXi-devel libXScrnSaver-devel dbus-devel ibus-devel fcitx-devel systemd-devel mesa-libGL-devel libxkbcommon-devel mesa-libGLES-devel mesa-libEGL-devel vulkan-devel wayland-devel wayland-protocols-devel libdrm-devel mesa-libgbm-devel libdecor-devel pipewire-jack-audio-connection-kit-devel wayland-devel libxkbcommon-devel wayland-protocols-devel extra-cmake-modules
            ln -s "$PWD/fedora-sysroot/lib/ld-linux-aarch64.so.1" /lib/ld-linux-aarch64.so.1
            mkdir -p /usr/lib/rpm/
            mount --bind "$PWD/fedora-sysroot/usr/lib/rpm/" /usr/lib/rpm/
            mkdir -p /var/lib/rpm/
            mount --bind "$PWD/fedora-sysroot/var/lib/rpm/" /var/lib/rpm/
            mkdir -p /usr/lib/sysimage/rpm/
            mount --bind "$PWD/fedora-sysroot/usr/lib/sysimage/rpm/" /usr/lib/sysimage/rpm/
            echo "PATH=$PATH:$PWD/fedora-sysroot/bin:$PWD/fedora-sysroot/usr/bin" >> $GITHUB_ENV
            echo "LD_LIBRARY_PATH=$PWD/fedora-sysroot/lib64" >> $GITHUB_ENV
            echo "PKG_CONFIG_LIBDIR=$PWD/fedora-sysroot/usr/lib64/pkgconfig:$PWD/fedora-sysroot/usr/share/pkgconfig" >> $GITHUB_ENV
            cat > toolchain.txt << EOF
            set(CMAKE_SYSTEM_NAME Linux)
            set(CMAKE_SYSROOT $PWD/fedora-sysroot)
            set(CMAKE_SYSTEM_PROCESSOR aarch64)
            set(CMAKE_FIND_ROOT_PATH_MODE_PROGRAM BOTH)
            set(CMAKE_FIND_ROOT_PATH_MODE_LIBRARY ONLY)
            set(CMAKE_FIND_ROOT_PATH_MODE_INCLUDE ONLY)
            set(CMAKE_FIND_ROOT_PATH_MODE_PACKAGE ONLY)
            EOF
          generator: RPM
          branch:
            mcpelauncher-manifest: qt6
            mcpelauncher-ui-manifest: qt6
          cmakeflags:
            msa-manifest: -DQT_VERSION=6 -DCMAKE_C_FLAGS="--target=aarch64-linux-gnu -fuse-ld=lld -Wl,-v" -DCMAKE_CXX_FLAGS="--target=aarch64-linux-gnu -fuse-ld=lld --std=c++17 -Wl,-v" -DCMAKE_TOOLCHAIN_FILE="$PWD/toolchain.txt" -DCMAKE_MAKE_PROGRAM="$(which make)" -DCPACK_RPM_PACKAGE_ARCHITECTURE=aarch64
            mcpelauncher-manifest: -DCURL_EXT_EXTRA_OPTIONS="-DCMAKE_INSTALL_LIBDIR=lib" -DCMAKE_C_FLAGS="--target=aarch64-linux-gnu -fuse-ld=lld -Wl,-v" -DCMAKE_CXX_FLAGS="--target=aarch64-linux-gnu -fuse-ld=lld --std=c++17 -Wl,-v" -DCMAKE_TOOLCHAIN_FILE="$PWD/toolchain.txt" -DCMAKE_MAKE_PROGRAM="$(which make)" -DCPACK_RPM_PACKAGE_ARCHITECTURE=aarch64
            mcpelauncher-ui-manifest: -DCMAKE_C_FLAGS="--target=aarch64-linux-gnu -fuse-ld=lld -Wl,-v" -DCMAKE_CXX_FLAGS="--target=aarch64-linux-gnu -fuse-ld=lld --std=c++17 -Wl,-v" -DCMAKE_TOOLCHAIN_FILE="$PWD/toolchain.txt" -DCMAKE_MAKE_PROGRAM="$(which make)" -DCPACK_RPM_PACKAGE_ARCHITECTURE=aarch64
        glfw:
        - true
        - false
        # We are cross compiling so we have to set the ca bundle path or stop building curl
        curlflags:
        - DEB: -DCURL_EXT_EXTRA_OPTIONS="-DCURL_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt"
          RPM: -DCURL_EXT_EXTRA_OPTIONS="-DCURL_CA_BUNDLE=/etc/pki/tls/certs/ca-bundle.crt"
        include:
        - cmakeflags:
            mcpelauncher-manifest: -DENABLE_DEV_PATHS=OFF
            mcpelauncher-ui-manifest: -DLAUNCHER_VERSION_NAME="${{ inputs.version }}.${{ github.run_id }}.${{ github.run_attempt }}" -DLAUNCHER_VERSION_CODE="${{ github.run_id }}" -DLAUNCHER_CHANGE_LOG="Launcher ${{ inputs.version }}<br/>${{ inputs.changelog }}" -DLAUNCHER_VERSIONDB_URL=https://raw.githubusercontent.com/minecraft-linux/mcpelauncher-versiondb/${{ inputs.versionsdbremote }}
            msa-manifest: -DENABLE_MSA_QT_UI=ON -DMSA_UI_PATH_DEV=OFF
        exclude:
        - glfw: true
          repo: mcpelauncher-ui-manifest
        - glfw: true
          repo: msa-manifest

    container: ${{ matrix.platform.container}}
    env:
      CC: clang
      CXX: clang++
      VERBOSE: 1
    steps:
    - name: Install Deps
      run: ${{ matrix.platform.deps }}
      shell: bash
    - name: Get Sources
      run: |
        if [[ "$SHA" = "" ]]
        then
          git clone --recursive https://github.com/minecraft-linux/${{ matrix.repo }} mcpelauncher ${{ matrix.platform.branch[matrix.repo] && format('-b {0}', matrix.platform.branch[matrix.repo]) }}
        else
          mkdir mcpelauncher
          git -C mcpelauncher init
          git -C mcpelauncher remote add origin https://github.com/minecraft-linux/${{ matrix.repo }}
          git -C mcpelauncher fetch origin "$SHA"
          git -C mcpelauncher reset --hard FETCH_HEAD
          git -C mcpelauncher submodule update --init --recursive
        fi
        mv mcpelauncher/CMakeLists.txt mcpelauncher/CMakeLists.org.txt
        if [[ "$GLFW" = "true" ]]
        then
          git clone https://github.com/glfw/glfw glfw
        fi
      env:
        SHA: ${{ fromjson(inputs.shas)[matrix.repo][matrix.platform.branch[matrix.repo]] }}
        GLFW: ${{ matrix.glfw }}
      shell: bash
    - name: Create CMakeLists.txt
      run: |
        cmake_minimum_required(VERSION 3.0)
        project(${{ matrix.repo }}${{ matrix.platform.suffix && format('-{0}', matrix.platform.suffix) }}${{ matrix.glfw && '-glfw' || ''}})
        include(./CMakeLists.org.txt)

        set(CPACK_GENERATOR "TGZ;${{ matrix.platform.generator }}")
        set(CPACK_PACKAGE_CONTACT "https://github.com/minecraft-linux/${{ matrix.repo }}/issues")
        set(CPACK_PACKAGE_FILE_NAME "${{ matrix.repo }}${{ matrix.platform.suffix && format('-{0}', matrix.platform.suffix) }}${{ matrix.glfw && '-glfw' || ''}}-${{ inputs.version }}.${{ github.run_id }}.${{ github.run_attempt }}.${{ matrix.platform.name }}")
        set(CPACK_DEBIAN_PACKAGE_DEPENDS "${{ matrix.platform.pkg-deps || 'libc6, ca-certificates, libxcursor1, libxinerama1, libxi6, libxrandr2, qml-module-qtquick2, qml-module-qtquick-layouts, qml-module-qtquick-controls, qml-module-qtquick-controls2, qml-module-qtquick-window2, qml-module-qtquick-dialogs, qml-module-qt-labs-settings, qml-module-qt-labs-folderlistmodel, qml-module-qtwebengine, libqt5svg5, libqt5concurrent5, libqt5webenginewidgets5, libzip4, qml-module-qtquick-templates2, libprotobuf23' }}")
        set(CPACK_DEBIAN_PACKAGE_VERSION "${{ inputs.version }}.${{ github.run_id }}.${{ github.run_attempt }}~${{ matrix.platform.name }}")
        set(CPACK_DEBIAN_FILE_NAME DEB-DEFAULT)
        set(CPACK_RPM_PACKAGE_VERSION "${{ inputs.version }}.${{ github.run_id }}.${{ github.run_attempt }}~${{ matrix.platform.name }}")
        set(CPACK_RPM_SPEC_MORE_DEFINE "%define __spec_install_post /bin/true")
        set(CPACK_RPM_REQUIRES_EXCLUDE_FROM "share/mcpelauncher/.*")
        ${{ matrix.platform.pkg-deps && format('set(CPACK_RPM_PACKAGE_REQUIRES "{0}")', matrix.platform.pkg-deps) || '' }}
        set(CPACK_RPM_FILE_NAME RPM-DEFAULT)

        include(CPack)
      shell: cp {0} mcpelauncher/CMakeLists.txt
    - name: Configure
      run: cmake -S mcpelauncher -B mcpelauncher-build -DCMAKE_BUILD_TYPE=Release ${{ matrix.cmakeflags[matrix.repo] }} ${{ matrix.platform.cmakeflags[matrix.repo] }} ${{ matrix.glfw && '-DGAMEWINDOW_SYSTEM=GLFW -DFETCHCONTENT_SOURCE_DIR_GLFW3_EXT=$PWD/glfw' || '' }} ${{ matrix.glfw && matrix.platform.generator != 'RPM' && '-DGLFW_BUILD_WAYLAND=OFF' || '' }} ${{ matrix.curlflags[matrix.platform.generator] }}
    - name: Package Source
      if: "false"
      run: cmake --build mcpelauncher-build --target package_source --parallel
    - name: Build
      run: cmake --build mcpelauncher-build --target package --parallel
    - name: Upload artifacts
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.platform.name }}${{inputs.channel && inputs.channel != 'release' && format('-{0}', inputs.channel) || '' }}
        path: |
          mcpelauncher-build/*.tar.*
          mcpelauncher-build/*.deb
          mcpelauncher-build/*.rpm
